legacy-peer-deps=true
unsafe-perm=true
node-linker=hoisted
prefer-offline=true
scripts-prepend-node-path=true
save-exact=true
package-lock=true
fund=false
audit=false
update-notifier=false
scripts-prepend-node-path=auto 